@import 'vendor/normalize.css';
@import 'vendor/skeleton.css';
@import 'vendor/fullpage.min.css';
@import 'vendor/video-js.css';
@import '../font/css/font-awesome.css';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display';
@import 'https://fonts.googleapis.com/css?family=Oswald';

@import 'mixins.scss';

$container-color: rgba(33, 33, 33, 0.7);
$text-color: rgb(234, 234, 234);
$line-color: rgb(195, 195, 195); 
$offline-color: rgb(186, 63, 47);

body {
  background-size: cover;
  background-position: center;
  background-image: url(../img/ocean3.jpeg);
  position: relative;
  font-family: 'Playfair Display', serif; 
  color: $text-color;    
}

.container {
    background-color: $container-color;
    position: absolute;
    top: 0;
    left: 30%;
    right: 0;
    bottom: 0;
    float: right;
    box-sizing: border-box;
    width: 60%;
    height: 80%;
    margin-top: 3%;
}



.welcomePage {
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}

.lazy {
    width: 20%; 
    padding-left: 4%;
    padding-top: 4%;
}

.logo {
    width: 70%;    
}

.welcome {
    width: 80%;
    margin-top: 10%;
 
}

.welcomeHead {
    font-size: 21px;
    letter-spacing: 5px;
    text-align: center;
}

hr {
    background-color: $line-color;
    height: 1px;
}

.about {
    text-align: left;
   font-size: 14px;
    letter-spacing: 1px;
    margin-top: 5%;
}



.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

button {
    width: 40%;
}

.login{
  text-transform: lowercase;
  background: #CEAA15;
  border:0;
  color: #232323;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block;

}

.login::after,
.login::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
    opacity: 0;
  transition:         all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.login::after{
    width: 30px;
    height: 1px;
    background: #232323;
    transform: translateX(-3px);
    margin-top: 0px;
}

.login::before{
    content: "";
    transform: rotate(-135deg) translateX(50%);
    width: 11px;
    height: 11px;
    background: transparent;
    border-left: 1px solid #232323;
    border-bottom: 1px solid #232323;
  margin-top: -1px;
}


.login:hover{
  padding-right: 60px;
}

.login:hover::after,
.login:hover::before{
  opacity: 1;
  right: 15px;
}


.signup{
  
  text-transform: lowercase;
  background: transparent;
  border: 2px;
  border-style: solid;
  border-color: #CEAA15;    
  color: #E5E5E5;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block;

}

.signup::after,
.signup::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
    opacity: 0;
  transition:         all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.signup::after{
    width: 30px;
    height: 1px;
    background: #E5E5E5;
    transform: translateX(-3px);
    margin-top: 0px;
}

.signup::before{
    content: "";
    transform: rotate(-135deg) translateX(50%);
    width: 11px;
    height: 11px;
    background: transparent;
    border-left: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
  margin-top: -1px;
}


.signup:hover{
  padding-right: 60px;
     background: transparent;
  border: 2px;
    border-style: solid;
border-color: #CEAA15;    
  color: #E5E5E5;
}

.signup:hover::after,
.signup:hover::before{
  opacity: 1;
  right: 15px;
}




/*profile section
-----------------*/

.menu {
    width: 10%;
    margin-left: 4%;
    margin-top: 2%;
}


.item {
    width: 100%;
    color: rgba(229, 229, 229, 0.7); 
    transition: all .5s ease-in-out;
}

.item:hover {
    transition: all .5s ease-in-out;
    margin-bottom: 20%;
    cursor: pointer;
    color: rgba(206, 170, 21, 0.5);
}

.text {
  color: rgba(229, 229, 229, 0.7); 
  opacity: 0;
  text-align: center;
  padding-top: 0px;
  transition: all .5s ease-in-out;
}


.item:hover .text {
padding-top: 10%;    
  opacity: 1;
}

.profileIcon {
    width: 100%;
}



.profile {
    width: 80%;
    
}

.cirle {
    border-radius: 50%;
    width: 15%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.user {
    width: 100%;
    border-radius: 50%;
}

.name {
    font-size: 18px;
    letter-spacing: 2px;
}

.line {
    margin: 2%;
}

.statsProfile {
    width: 90%;
}

td, th {
    border-bottom: 0; 
    
}

.title {
   font-size: 16px;
   font-family: 'Oswald', sans-serif;
    margin-top: 2%;
    text-align: center;
    letter-spacing: 2px;
}

.stats {
   font-size: 12px;
    text-align: center; 
}

.signup {
    float: right;
    box-sizing: border-box;
}

.logout {
    width: 30%;
    margin-top: 10%;
}

.offline {
    color: $offline-color;
}


/*location section
--------------------*/

.locatePage {
    width: 80%;
}

.locate {
    width: 100%;
}

.map {
    padding-top: 2%;
    width: 60%;
    position: absolute;
    z-index: 1;
}

.points {
    width: 100%;
    position: relative;
    z-index: 99;
}

.infotext{
    opacity: 0;
    width: 20%;
    background-color: transparent;
    border-style: solid;
    border: 1px;
    border-color: rgba(206, 170, 21, 0.5); 
}


.point:hover {
    opacity: 1;
}


.point {
    display: list-item;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(206, 170, 21, 0.7);
}


/*favorites section
--------------------*/

.fav {
    display: flex;
    justify-content: space-around;
     padding-top: 5%;
}

.spots {
    font-size: 21px;
    font-family: 'Oswald', sans-serif;
    text-align: left;
    letter-spacing: 3px;
}

.line2 {
    width: 80%;
    
}

.search {
    margin: 0;
}


/*stats section
--------------------*/

.statsPage {
    width: 100%;
  
}



















/*media queries - responsive styles*/


/*mobile */

@media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        top: 20%;
        left: 0;
        width: 100%;
       height: 75%;
    } 
    

    
    
    .lazy {
    width: 20%; 
    padding-left: 4%;
    padding-top: 4%;
    }

    .logo {
    width: 100%;    
    }

    .welcomeHead {
    text-align: left;
     font-size: 14px;
}
    
    .about {
   font-size: 12px;     
}
    
    button {
    width: 100%;
    left: 0;
}
    
    .buttons {
    width: 100%;    
    display: list-item;
   
}
    
    
    .menu {
        width: 100%;
        display: flex;
        margin: auto;
    }
    
    .cirle {
    border-radius: 50%;
    width: 35%;
    margin-top: 5%;
    margin-bottom: 2%;
}

    .user {
    width: 100%;
    border-radius: 50%;
    }

    .name {
    font-size: 14px;
    }
    
    
    .logout {
    width: 100%;
    margin-top: 10%;
}
    
    
    .spots {
    font-size: 14px;
    margin-top: 5%;
}

    .search {
        width: 50%;
        font-size: 12px;
        margin: 0;
    } 
    
    .line2 {
        margin: 0;
    }
    
    
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {

     .container {
        top: 22%;
        left: 0;
        width: 90%;
       height: 70%;
        
    } 
    
    
    .lazy {
    width: 30%; 
    padding-left: 5%;
    padding-top: 4%;
    margin-bottom: 2%;    
    }

    .logo {
    width: 60%;    
    }
    
 
    .welcomeHead {
     font-size: 26px;
}
    
    .about {
   font-size: 21px;     
}
    
    
    
    button {
    width: 100%;
    left: 0;
    margin-top: 20px;
}
    
    .buttons {
    width: 80%;    
    display: list-item; 
    margin: auto;   
}
    
    .menu {
        width: 100%;
        display: flex;
        margin: auto;
      
    }
    
    .cirle {
    border-radius: 50%;
    width: 30%;
    margin-top: 5%;
    margin-bottom: 2%;
}

    .user {
    width: 100%;
    border-radius: 50%;
    }

    .name {
    font-size: 18px;
    }
    
    
    .logout {
    width: 50%;
    margin-top: 10%;
}
    
    
    .spots {
    font-size: 18px;
    margin-top: 5%;
        
}

    .search {
        width: 50%;
        font-size: 12px;
        margin: 0;
    } 
    
    .line2 {
        margin: 0;
    }
    
    
    .stats {
   font-size: 18px;
}
    
    
    .search {
        width: 50%;
        font-size: 12px;
        margin-top: 3%;
    } 
    
    .section {
        height: 100%;
    } 
    
}


/* desktop */

@media screen and (min-width: 1025px) and (max-width: 1920px) {
    
}
