


body {
  background-size: cover;
  background-position: center;
		background-color: #141414;
}


/*
.section {
	width: 100%;
	height: 100%;
}
*/


.logo {
	width: 25%;
	cursor: pointer;
}

.logo2 {
	width: 50%;
	cursor: pointer;
}

.menu {
	color: #E5E5E5;
	font-size: 30px;
}
/*

.container {
	margin-top: 5%;
}
*/

.line {
	width: 20%;
}

ul li {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 10px;
	text-decoration: none;
padding-bottom: 15px;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #E5E5E5;
}

.menuItem:hover {
	color: #CEAA15;
	transition: color 0.5s;
	cursor: pointer;
}

.about, .signButton {
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	line-height: 25px;
	color: #E5E5E5;
	font-size: 18px;
	float: right;
	box-sizing: border-box;
}

.menuSection {
	margin: 0;
	padding: 0;
}


/*
.signButton {
	text-decoration: none;
	margin-top: 30px;
	
	background-color: transparent;
	border: 3px;
	border-color: #CEAA15;
}
*/


/*
.line {
	height: 300px;
}
*/


.sign{
  padding: padding: 25px 60px 25px 20px;;
  background: #CEAA15;
  border: 0;
  color: #141414;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block;
  margin-top: 50px;
}

.sign::after,
.sign::before{
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
    opacity: 0;
  transition:  all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.sign::after{
    width: 30px;
    height: 1px;
    background: #141414;
    transform: translateX(-3px);
    margin-top: 0px;
}

.sign::before{
    content: "";
    transform: rotate(-135deg) translateX(50%);
    width: 11px;
    height: 11px;
    background: transparent;
    border-left: 1px solid #141414;
    border-bottom: 1px solid #141414;
  margin-top: -1px;
}


.sign:hover{
padding-right: 60px;
}

.sign:hover::after,
.sign:hover::before{
  opacity: 1;
  right: 15px;
}

.signForm {
	display: none;
}


/*
body {
  background-color: #000;
  font-family: Arial, sans-serif;
}
*/



/**MOUSE SCROLL ICON
----------------------*/

/*
.scroll-downs {
  position: absolute;
		margin: auto;
		margin-top: 250px;
		margin-left: 50%;
	width: 34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
*/



/*
body.loading {
  overflow: hidden !important;
}

body > #pre-loader {
  display: none;
}

body.loading > #pre-loader {
  display: block;
}

video {
  object-fit: cover;
}

#pre-loader {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: absolute;
  background: url('../img/loading.gif') #ffffff center no-repeat;
}
*/



/*media queries - responsive styles*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
  .example-grid .column, .example-grid .columns {
    margin-bottom: 1.5rem;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
