body {
  background-size: cover;
  background-position: center;
		background-color: #141414;
}



/*
body.loading {
  overflow: hidden !important;
}

body > #pre-loader {
  display: none;
}

body.loading > #pre-loader {
  display: block;
}

video {
  object-fit: cover;
}

#pre-loader {
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  position: absolute;
  background: url('../img/loading.gif') #ffffff center no-repeat;
}
*/



/*media queries - responsive styles*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
  .example-grid .column, .example-grid .columns {
    margin-bottom: 1.5rem;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
