@import url(vendor/normalize.css);
@import url(vendor/skeleton.css);
@import url(vendor/fullpage.min.css);
@import url(vendor/video-js.css);
@import url(../font/css/font-awesome.css);
@import 'https://fonts.googleapis.com/css?family=Playfair+Display';
@import 'https://fonts.googleapis.com/css?family=Oswald';
body {
  background-size: cover;
  background-position: center;
  background-image: url(../img/ocean3.jpeg);
  position: relative;
  font-family: 'Playfair Display', serif;
  color: #eaeaea; }

.container {
  background-color: rgba(33, 33, 33, 0.7);
  position: absolute;
  top: 0;
  left: 30%;
  right: 0;
  bottom: 0;
  float: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 60%;
  height: 85%;
  margin-top: 3%; }

.welcomePage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.lazy {
  width: 20%;
  padding-left: 4%;
  padding-top: 4%; }

.logo {
  width: 70%; }

.welcome {
  width: 80%;
  margin-top: 10%; }

.welcomeHead {
  font-size: 21px;
  letter-spacing: 5px;
  text-align: center; }

hr {
  background-color: #c3c3c3;
  height: 1px; }

.about {
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 5%; }

i:hover, a:hover {
  color: rgba(206, 170, 21, 0.7);
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

a:focus, a:active {
  text-decoration: none; }

i:hover {
  cursor: pointer; }

button {
  width: 0%; }

.login {
  text-transform: lowercase;
  background: #CEAA15;
  border: 0;
  color: #232323;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block; }

.login::after,
.login::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }

.login::after {
  width: 30px;
  height: 1px;
  background: #232323;
  -webkit-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  transform: translateX(-3px);
  margin-top: 0px; }

.login::before {
  content: "";
  -webkit-transform: rotate(-135deg) translateX(50%);
  -ms-transform: rotate(-135deg) translateX(50%);
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid #232323;
  border-bottom: 1px solid #232323;
  margin-top: -1px; }

.login:hover {
  padding-right: 60px; }

.login:hover::after,
.login:hover::before {
  opacity: 1;
  right: 15px; }

.signup {
  text-transform: lowercase;
  background: transparent;
  border: 2px;
  border-style: solid;
  border-color: #CEAA15;
  color: #E5E5E5;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block; }

.signup::after,
.signup::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1); }

.signup::after {
  width: 30px;
  height: 1px;
  background: #E5E5E5;
  -webkit-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  transform: translateX(-3px);
  margin-top: 0px; }

.signup::before {
  content: "";
  -webkit-transform: rotate(-135deg) translateX(50%);
  -ms-transform: rotate(-135deg) translateX(50%);
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  margin-top: -1px; }

.signup:hover {
  padding-right: 60px;
  background: transparent;
  border: 2px;
  border-style: solid;
  border-color: #CEAA15;
  color: #E5E5E5; }

.signup:hover::after,
.signup:hover::before {
  opacity: 1;
  right: 15px; }

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  width: 40%;
  background: transparent;
  border: none;
  border-bottom: 1px solid; }

.loginContainer {
  padding: 16px; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 60px; }

.modal-content {
  width: 80%; }

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer; }

.logbutton {
  width: 20%;
  border: 2px;
  border-style: solid;
  border-color: #CEAA15;
  color: #E5E5E5;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  cursor: pointer; }

.loggedIn {
  text-decoration: none; }

/*profile section
-----------------*/
.menu {
  width: 10%;
  margin-left: 4%;
  margin-top: 2%; }

.item {
  width: 100%;
  color: rgba(229, 229, 229, 0.7);
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.item:hover {
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin-bottom: 20%;
  cursor: pointer;
  color: rgba(206, 170, 21, 0.5); }

.text {
  color: rgba(229, 229, 229, 0.7);
  opacity: 0;
  text-align: center;
  padding-top: 0px;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.item:hover .text {
  padding-top: 10%;
  opacity: 1; }

.profileIcon {
  width: 100%; }

.profile {
  width: 80%; }

.cirle {
  border-radius: 50%;
  width: 15%;
  margin-top: 5%;
  margin-bottom: 2%; }

.user {
  width: 100%;
  border-radius: 50%; }

.name {
  font-size: 18px;
  letter-spacing: 2px; }

.line {
  margin: 2%; }

.statsProfile {
  width: 90%; }

td, th {
  border-bottom: 0; }

.title {
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  margin-top: 2%;
  text-align: center;
  letter-spacing: 2px; }

.stats {
  font-size: 12px;
  text-align: center; }

.logout {
  width: 30%;
  margin-top: 10%; }

.offline {
  color: #ba3f2f; }

/*favorites section
--------------------*/
.fav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 5%; }

.spots {
  font-size: 21px;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  letter-spacing: 3px; }

.line2 {
  width: 80%; }

ul li {
  list-style-type: none;
  margin-bottom: 5%;
  margin-left: 10%;
  cursor: pointer; }

.completed {
  text-decoration: line-through; }

/*stats section
--------------------*/
.statsPage {
  width: 100%; }

.swell {
  margin-left: 5%;
  margin-top: 5%;
  font-size: 18px; }

.spots {
  font-size: 18px; }

#datePicker {
  background: transparent;
  color: #e5e5e5;
  margin-left: 5%; }

.degrees {
  color: #0a7d91;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  margin-top: 5%;
  margin-right: 15%; }

.beach {
  margin-left: 5%;
  margin-bottom: 2%;
  color: #ceaa15; }

.statistics {
  width: 400px;
  height: 300px; }

/* Use this selector to override the line style on a given series */
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #0a7d91;
  /* Control the thikness of your lines */
  stroke-width: 2px;
  /* Create a dashed line with a pattern */ }

/* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-a .ct-point {
  /* Colour of your points */
  stroke: rgba(206, 170, 21, 0.8);
  /* Size of your points */
  stroke-width: 10px;
  /* Make your points appear as squares */
  stroke-linecap: square; }

.ct-label {
  color: #e5e5e5; }

.ct-grid {
  stroke: #e5e5e5; }

.twosides, .twoHead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.spotsTo {
  margin-right: 5%; }

/*media queries - responsive styles*/
/*mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    top: 20%;
    left: 0;
    width: 100%;
    height: 75%; }
  .lazy {
    width: 20%;
    padding-left: 4%;
    padding-top: 4%; }
  .logo {
    width: 100%; }
  .welcomeHead {
    text-align: left;
    font-size: 14px; }
  .about {
    font-size: 12px; }
  button {
    width: 100%;
    left: 0; }
  .buttons {
    width: 100%;
    display: list-item; }
  .menu {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto; }
  .cirle {
    border-radius: 50%;
    width: 35%;
    margin-top: 5%;
    margin-bottom: 2%; }
  .user {
    width: 100%;
    border-radius: 50%; }
  .name {
    font-size: 14px; }
  .logout {
    width: 100%;
    margin-top: 10%; }
  .spots {
    font-size: 14px;
    margin-top: 5%; }
  .search {
    width: 50%;
    font-size: 12px;
    margin: 0; }
  .line2 {
    margin: 0; } }

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    top: 22%;
    left: 0;
    width: 90%;
    height: 70%; }
  .lazy {
    width: 30%;
    padding-left: 5%;
    padding-top: 4%;
    margin-bottom: 2%; }
  .logo {
    width: 60%; }
  .welcomeHead {
    font-size: 26px; }
  .about {
    font-size: 21px; }
  button {
    width: 100%;
    left: 0;
    margin-top: 20px; }
  .buttons {
    width: 80%;
    display: list-item;
    margin: auto; }
  .menu {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto; }
  .cirle {
    border-radius: 50%;
    width: 30%;
    margin-top: 5%;
    margin-bottom: 2%; }
  .user {
    width: 100%;
    border-radius: 50%; }
  .name {
    font-size: 18px; }
  .logout {
    width: 50%;
    margin-top: 10%; }
  .spots {
    font-size: 18px;
    margin-top: 5%; }
  .search {
    width: 50%;
    font-size: 12px;
    margin: 0; }
  .line2 {
    margin: 0; }
  .stats {
    font-size: 18px; }
  .search {
    width: 50%;
    font-size: 12px;
    margin-top: 3%; }
  .section {
    height: 100%; } }

/* desktop */
