@import 'base.scss';

$container-color: rgba(33, 33, 33, 0.7);
$text-color: rgb(234, 234, 234);
$line-color: rgb(195, 195, 195); 
$offline-color: rgb(186, 63, 47);
$icons-color: rgba(206, 170, 21, 0.7);