<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">  
      
  </head>
	
<body>

	
<!--  vue js 
------------------>

    
    
<div id="app">
    
    <link rel="stylesheet" v-bind:href="current_template.value">

 <!--full page.js -->
    
 <div id="fullpage" v-bind:class="current_template.name">
     
  
					
<!--	homepage section 
------------------------->
					
    <div id="landing-page" class="section" data-title="Welcome" data-anchor="welcome">
 
        <!-- logo section-->
        
        <div class="lazy">     
        <img src="img/lazysurf_logo.png" class="logo">
        </div>
        
        
    <div class="menu">    
        
        
<!--  template change css dark and light vue.js-->

        
        <template v-if="current_template.value == 'css/dark.css'">
        
            <div class="item">
          <center><i class="fa fa-sun-o fa-2x light"  v-on:click="setTemplate(2)" >
            </i>
            <div class="text">day mode</div>
          </center>    
            </div> 
            
            
        </template>
        
        <template v-if="current_template.value == 'css/light.css'">
        
            <div class="item">
          <center><i class="fa fa-moon-o fa-2x light" v-on:click="setTemplate(1)" >
            </i>
            <div class="text">night mode</div>
          </center>    
            </div> 
            
        </template>
        


        
        </div>

        

        
     <div class="dashboard container">

     <div class="welcomePage">   
        
         
        <div class="welcome">
        <center><h1 class="welcomeHead">WELCOME</h1>
        <hr>
        <p class="about">Lazy Surf provides you accurate data and statistics relevant to surfing. Here you can monitor progress and activity by engaging with the elements that make your preparation for surfing a good one. Just sit back and let us gather all the necessary resources for you and enjoy your surf time afterwards.</p></center>
 
            
            
            
<!--   LOGIN FORM  -->
            
            
            
            
    <!-- Button to open the modal login form -->
<button onclick="document.getElementById('id01').style.display='block'" class="signup">log-in</button>

<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" 
class="close" style= "cursor: pointer" title="Close">&times;</span>

  <!-- Modal Content -->
  <form class="modal-content animate">

    <div class="loginContainer">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required v-model="users_name">

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
     
        
   
    </div>
      
    <a href="#profile" class="loggedIn">LOG-IN</a>  

  </form>
</div>        
            
       
        </div>     
        
         
     </div>    
      
	   </div>
							
    </div>
     
					
<!--	dashboard profile section 
---------------------------------->
					
    <div id="dashProfile" class="section" data-title="Profile" data-anchor="profile">
 
        <!-- logo section-->
        
        <div class="lazy">     
        <img src="img/lazysurf_logo.png" class="logo">
            
            
        </div>
        
        
        
        <div class="menu">
            <div class="item">
                <center><a href="#profile"><i class="fa fa-user fa-2x" aria-hidden="true" class="userIcon"></i></a>
                    <div class="text">profile</div></center>    
            </div>
            

            <div class="item">
                <center><a href="#stats"><i class="fa fa-database fa-2x" aria-hidden="true" class="data" href="#stats"></i></a>
                <div class="text">stats</div></center>
            </div>
    
            
          <template v-if="current_template.value == 'css/dark.css'">
        
            <div class="item">
          <center><i class="fa fa-sun-o fa-2x light"  v-on:click="setTemplate(2)" >
            </i>
            <div class="text">day mode</div>
          </center>    
            </div> 
            
            
        </template>
        
        <template v-if="current_template.value == 'css/light.css'">
        
            <div class="item">
          <center><i class="fa fa-moon-o fa-2x light" v-on:click="setTemplate(1)" >
            </i>
            <div class="text">night mode</div>
          </center>    
            </div> 
            
        </template>
            

        
        </div>
        
        
        <!-- drop down menu for mobile -->


   
        
     <div class="dashboard container nav">
         

     <div class="profilePage">   
        
         
        <center><div class="profile">
            
            <center><div class="cirle">
                <img src="img/joel.jpg" class="user">
            </div></center>
            
            <div class="name">
            <hr class="line">
            <center> {{ users_name }} </center>
            <hr class="line">        
            </div>

        <table class="statsProfile u-full-width">
          <thead>
            <tr>
              <th class="title">MESSAGES</th>
              <th class="title">FOLLOWERS</th>
              <th class="title">FOLLOWING</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="stats">2 unread</td>
              <td class="stats">10k</td>
              <td class="stats">560</td>
            </tr>
            </tbody>      
        <thead>
            <tr>
              <th class="title">LOCATION</th>
              <th class="title">USER STATUS</th>
              <th class="title">EDIT</th>
            </tr>
        </thead> 
        <tbody>
            <tr>
              <td class="stats">california, usa</td>
              <td class="stats online"> online </td>
              <td></td>
            </tr>

          </tbody>
        </table>
            
            
        <button class="signup logout">log-out</button>
   
        </div></center>     
        
         
     </div>    
      
   </div>
							
</div>			

 

<!--	dashboard stats section 
---------------------------------->
					
    <div id="dashStats" class="section" data-title="Stats" data-anchor="stats">
 
        <!-- logo section-->
        
        <div class="lazy">     
        <img src="img/lazysurf_logo.png" class="logo">
        </div>
        
       <div class="menu">
            <div class="item">
                <center><a href="#profile"><i class="fa fa-user fa-2x" aria-hidden="true" class="userIcon"></i></a>
                    <div class="text">profile</div></center>    
            </div>
            

            <div class="item">
                <center><a href="#stats"><i class="fa fa-database fa-2x" aria-hidden="true" class="data" href="#stats"></i></a>
                <div class="text">stats</div></center>
            </div>
      
               <template v-if="current_template.value == 'css/dark.css'">
        
            <div class="item">
          <center><i class="fa fa-sun-o fa-2x light"  v-on:click="setTemplate(2)" >
            </i>
            <div class="text">day mode</div>
          </center>    
            </div> 
            
            
        </template>
        
        <template v-if="current_template.value == 'css/light.css'">
        
            <div class="item">
          <center><i class="fa fa-moon-o fa-2x light" v-on:click="setTemplate(1)" >
            </i>
            <div class="text">night mode</div>
          </center>    
            </div> 
            
        </template>

        
        </div>
        
        
        
        
        
     <div class="dashboard container">

         <center><div class="mobileError">Please view stats on either a tablet or laptop/desktop screen</div></center>
         
     <div class="statsPage">  
         
         
         
         <div class="twoHead">
         
         <h1 class="spots swell">SWELL FORECAST THIS WEEK:</h1> 
         
         <h1 class="degrees">32° SW 5ft</h1>
         
        </div>     
             
         <input id="datePicker" type="date" />
      
        <p class="beach">Your location - Long Beach, California</p>
         
         
         
         <div class="twosides">
         
        <div class="statistics">
            
         <div class="ct-chart ct-perfect-fourth"></div>
            
        
        </div> 
         
         <div class="spotsTo">
             <h1 class="spots">SPOTS I WOULD LOVE TO SURF:</h1>
              <p class="beach">Click on location to mark as surfed</p>
            <ul>
              <li :class="{'completed': task.completed}" 
              v-for="task in tasks"
              @click= "task.completed = ! task.completed"> 
                
               {{ task.body}}
     
              </li>
             
            </ul>
        </div>
        
        </div> 
     </div>    
      
	   </div>
							
    </div>     
				
	
					
<!--		end full page			-->

			</div>

 
<!--end of app-->
     
 </div>      
	

    <!-- Loaded JQuery and plugins... -->

	<script src="https://unpkg.com/vue"></script>
     <script src="https://unpkg.com/vue-meta@1.2.0/lib/vue-meta.js"></script>
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src='js/vendor/jquery.min.js'></script>
    <script src='js/vendor/jquery.fullpage.min.js'></script>
    <script src='js/vendor/video.js'></script>
    <!-- ...then load our JavaScript file that will use JQuery and the plugins. -->
    <script src='js/application.js'></script>
    
    
			
  </body>
</html>
